@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  video{
    @apply w-auto md:w-[620px]  lg:h-[470px] rounded-2xl  md:border-none
  }

}

body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3));

      font-family: 'Montserrat', sans-serif;
      font-family: 'Roboto Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
}

.videoPlayer{
  @apply flex flex-col space-y-2 items-center object-cover
}

.holder{
  width: inherit;
}